<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Pulse</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            DevOps
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/sprint">Sprints</a></li>
            <li><a class="dropdown-item" href="/todo">ToDo</a></li>
            <li><a class="dropdown-item" href="/doing">Doing</a></li>
            <li><a class="dropdown-item" href="/terceiros">Terceiros</a></li>
            <li><a class="dropdown-item" href="/users">Users</a></li>
            
            
            
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            DBA
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Sprints</a></li>
            <!-- <li><a class="dropdown-item" href="/sprint">Sprint</a></li> -->
            
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            SysAdmin
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Sprints</a></li>
            <!-- <li><a class="dropdown-item" href="/sprint">Sprint</a></li> -->
            
          </ul>
        </li>
      </ul>
</nav>
